body {
	text-align: center ;
    background: transparent url(/images/noise.png) center center repeat;
	background-color:#5E6165;
}
#toolbar {
	height: 24px;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
}
#toolbar ol {
	width: 200px;
	height: 24px;
	margin: 0 auto;
	text-align: center;
	
	list-style-type: none ;
}
#toolbar ol li {
	float: left ;
	display: block; 
	color: #fff;
	margin: 0 10px 10px 0;
}
#zoom-in {
	background: url(/images/zoom-in.png);
}
#zoom-out {
	background: url(/images/zoom-out.png);
}
#zoom-fit-width {
	background: url(/images/zoom-fit-width.png);
}
#zoom-fit-height {
	background: url(/images/zoom-fit-height.png);
}
.control {
	width: 24px;
	height: 24px;
	display: block ;
	opacity: 0.5;
	filter: alpha(opacity=50) ;
	z-index: 10 ;
}
#next-page {
	position:absolute;
	right: 24px ;
	top: 50% ;
	background: url(/images/next-page.png);
}
#pre-page {
	position:absolute;
	left: 24px ;
	top: 50% ;
	background: url(/images/pre-page.png);
}
#main {
	left: 0px;
	top: 0px ;
	bottom: 0px ;
	width: 100%; 
	height: 100% ;
	overflow: auto ;
	position: absolute ;
	display: none;
    background-repeat:no-repeat;
    z-index:100;
}
#viewport {
    left: 0px;
    top: 0px;
	position: absolute ;
	text-align: left;
	font-size: 10px ;
    cursor: text;
    margin: 10px 0px 10px 0px;
    display: none;
}
#viewport-background {
    position: absolute;
    left: 0px;
    top: 0px;
	width: 100%;
	height: 100%;
    border: black solid thin;
    -webkit-box-shadow: rgba(0, 0, 0, 0.597656) 0px 0px 2px 0px, rgba(0, 0, 0, 0.398438) 0px 0px 5px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.597656) 0px 0px 2px 0px, rgba(0, 0, 0, 0.398438) 0px 0px 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.597656) 0px 0px 2px 0px, rgba(0, 0, 0, 0.398438) 0px 0px 5px 0px;
    /* Disable the default behaviour of browser 
     * so that the image is not draggable.
     * */
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.selected-area {
    position: absolute;
    background-color: 000088;
    opacity: 0.4;
    filter: alpha(opacity=40) ;
}
#clipboard-box {
    position: absolute;
    width: 300px;
    height: 24px;
    z-index: 10;
}
