.ft0{font-size:13px;font-family:Times;color:#000000;}
.ft1{font-size:8px;font-family:Times;color:#000000;}
.ft2{font-size:5px;font-family:Times;color:#000000;}
.ft3{font-size:13px;font-family:Times;color:#000000;}
.ft4{font-size:47px;font-family:Times;color:#000000;}
.ft5{font-size:43px;font-family:Times;color:#000000;}
.ft6{font-size:13px;line-height:18px;font-family:Times;color:#000000;}
.ft7{font-size:5px;line-height:2px;font-family:Times;color:#000000;}
.ft8{font-size:5px;line-height:4px;font-family:Times;color:#000000;}
.ft9{font-size:5px;line-height:6px;font-family:Times;color:#000000;}
.ft10{font-size:5px;line-height:3px;font-family:Times;color:#000000;}
.ft11{font-size:13px;line-height:18px;font-family:Times;color:#000000;}